:root {
    --font-text: 'Poppins', sans-serif;
    --font-title: 'Secular One', sans-serif;
    --font-coursive: 'Marck Script', cursive;
    --color-primary: #0291A2;
    --color-secondary: #002358;
    --color-bg: #FEFEFE;
    --color-text: #AAA;
}

.banner-bg {
    background-color: var(--color-primary);
    min-height: 800px;
    border-end-start-radius: 100px;
    border-end-end-radius: 100px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 120px;
    padding-top: 80px;
}

.banner-section {
    width: 100%;
    padding: 10px;
    position: relative;
}

.banner-section img {
    width: 100%;
}

.banner-text {
    color: var(--color-bg);
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-form {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.span {
    font-family: var(--font-title);
    color: var(--color-bg);
}

@media screen and (max-width: 960px) {
    .banner {
        flex-direction: column;
    }

    .banner-section img {
        width: 95%;
        margin: 0 auto;
    }

    .banner-section-mobile{
        width: 95%;
    }
}
